USE [master]
GO
/****** Object:  Database [ETicaretProjesi_Son]    Script Date: 22.06.2026 19:55:03 ******/
CREATE DATABASE [ETicaretProjesi_Son]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ETicaretProjesi_Son', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ETicaretProjesi_Son.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ETicaretProjesi_Son_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ETicaretProjesi_Son_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ETicaretProjesi_Son].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ETicaretProjesi_Son]
GO
/****** Object:  Table [dbo].[KATEGORI]    Script Date: 22.06.2026 19:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KATEGORI](
	[KategoriID] [int] NOT NULL,
	[KategoriAdi] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URUN]    Script Date: 22.06.2026 19:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URUN](
	[UrunID] [int] NOT NULL,
	[UrunAdi] [varchar](100) NOT NULL,
	[Fiyat] [decimal](10, 2) NOT NULL,
	[Stok] [int] NOT NULL,
	[SaticiID] [int] NULL,
	[UrunFoto] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URUN_SINIFLANDIRMA]    Script Date: 22.06.2026 19:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URUN_SINIFLANDIRMA](
	[KategoriID] [int] NOT NULL,
	[UrunID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC,
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_UrunKategori]    Script Date: 22.06.2026 19:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. ŞİMDİ VIEW'I OLUŞTURUYORUZ (Artık URUN tablosu var!)
CREATE VIEW [dbo].[View_UrunKategori] AS
SELECT 
    U.UrunAdi, 
    U.Fiyat, 
    K.KategoriAdi
FROM URUN U
INNER JOIN URUN_SINIFLANDIRMA US ON U.UrunID = US.UrunID
INNER JOIN KATEGORI K ON US.KategoriID = K.KategoriID;
GO
/****** Object:  Table [dbo].[KARGO]    Script Date: 22.06.2026 19:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KARGO](
	[KargoID] [int] NOT NULL,
	[TahminiTeslim] [date] NULL,
	[TakipKodu] [varchar](50) NULL,
	[Durumu] [varchar](50) NULL,
	[GonderimTarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[KargoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KART]    Script Date: 22.06.2026 19:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KART](
	[KartNo] [varchar](16) NOT NULL,
	[SonKullanma] [varchar](5) NOT NULL,
	[CVV] [varchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KartNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSTERI]    Script Date: 22.06.2026 19:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSTERI](
	[MusteriID] [int] NOT NULL,
	[Fname] [varchar](50) NOT NULL,
	[Lname] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Telefon] [varchar](15) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Mahalle] [varchar](100) NULL,
	[Sokak] [varchar](100) NULL,
	[Il] [varchar](50) NULL,
	[Ilce] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ODEME]    Script Date: 22.06.2026 19:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ODEME](
	[OdemeID] [int] NOT NULL,
	[OdemeTuru] [varchar](50) NOT NULL,
	[OdemeTarihi] [datetime] NULL,
	[OdemeDurumu] [varchar](50) NOT NULL,
	[KartNo] [varchar](16) NULL,
	[SiparisID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OdemeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SATICI]    Script Date: 22.06.2026 19:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SATICI](
	[SaticiID] [int] NOT NULL,
	[MagazaAdi] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Telefon] [varchar](15) NOT NULL,
	[VergiNo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SaticiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SATIN_ALMA]    Script Date: 22.06.2026 19:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SATIN_ALMA](
	[MusteriID] [int] NOT NULL,
	[SepetID] [int] NOT NULL,
	[UrunID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC,
	[SepetID] ASC,
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEPET]    Script Date: 22.06.2026 19:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEPET](
	[SepetID] [int] NOT NULL,
	[MusteriID] [int] NULL,
	[UrunID] [int] NULL,
	[Adet] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SepetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIPARIS]    Script Date: 22.06.2026 19:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPARIS](
	[SiparisID] [int] NOT NULL,
	[SiparisTarihi] [datetime] NULL,
	[TopTutar] [decimal](10, 2) NULL,
	[SepetID] [int] NULL,
	[MusteriID] [int] NULL,
	[SiparisDurumu] [varchar](50) NULL,
	[KargoTakipKodu] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIPARIS_DETAY]    Script Date: 22.06.2026 19:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPARIS_DETAY](
	[SiparisDetayID] [int] NOT NULL,
	[Adet] [int] NOT NULL,
	[BirimFiyat] [decimal](10, 2) NOT NULL,
	[SiparisID] [int] NULL,
	[UrunID] [int] NULL,
	[KargoID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SiparisDetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIPARIS_KARGOSU]    Script Date: 22.06.2026 19:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPARIS_KARGOSU](
	[SiparisID] [int] NOT NULL,
	[KargoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SiparisID] ASC,
	[KargoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YORUM]    Script Date: 22.06.2026 19:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YORUM](
	[YorumID] [int] NOT NULL,
	[Puan] [int] NULL,
	[YorumMetni] [text] NULL,
	[Tarih] [datetime] NULL,
	[MusteriID] [int] NULL,
	[SiparisDetayID] [int] NULL,
	[UrunID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[YorumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[KARGO] ([KargoID], [TahminiTeslim], [TakipKodu], [Durumu], [GonderimTarihi]) VALUES (1, CAST(N'2026-05-10' AS Date), N'TR-139154', N'Hazırlanıyor', CAST(N'2026-05-07' AS Date))
INSERT [dbo].[KARGO] ([KargoID], [TahminiTeslim], [TakipKodu], [Durumu], [GonderimTarihi]) VALUES (2, CAST(N'2026-05-10' AS Date), N'TR-526439', N'Hazırlanıyor', CAST(N'2026-05-07' AS Date))
INSERT [dbo].[KARGO] ([KargoID], [TahminiTeslim], [TakipKodu], [Durumu], [GonderimTarihi]) VALUES (3, CAST(N'2026-05-10' AS Date), N'TR-231319', N'Hazırlanıyor', CAST(N'2026-05-07' AS Date))
GO
INSERT [dbo].[KART] ([KartNo], [SonKullanma], [CVV]) VALUES (N'************4444', N'07/28', N'111')
INSERT [dbo].[KART] ([KartNo], [SonKullanma], [CVV]) VALUES (N'************7777', N'07/27', N'777')
GO
INSERT [dbo].[KATEGORI] ([KategoriID], [KategoriAdi]) VALUES (1, N'Ekran Kartı')
INSERT [dbo].[KATEGORI] ([KategoriID], [KategoriAdi]) VALUES (2, N'İşlemci')
INSERT [dbo].[KATEGORI] ([KategoriID], [KategoriAdi]) VALUES (3, N'Anakart')
GO
INSERT [dbo].[MUSTERI] ([MusteriID], [Fname], [Lname], [Email], [Telefon], [Password], [Mahalle], [Sokak], [Il], [Ilce]) VALUES (1, N'Ahmet', N'Yılmaz', N'ahmet@mail.com', N'5551112233', N'sifre123', N'Atatürk Mah.', N'Gül Sok.', N'İstanbul', N'Beşiktaş')
INSERT [dbo].[MUSTERI] ([MusteriID], [Fname], [Lname], [Email], [Telefon], [Password], [Mahalle], [Sokak], [Il], [Ilce]) VALUES (2, N'Ayşe', N'Kaya', N'ayse@mail.com', N'5559998877', N'sifre456', N'Cumhuriyet Mah.', N'Lale Sok.', N'Ankara', N'Çankaya')
INSERT [dbo].[MUSTERI] ([MusteriID], [Fname], [Lname], [Email], [Telefon], [Password], [Mahalle], [Sokak], [Il], [Ilce]) VALUES (3, N'Test', N'Kullanici', N'test@mail.com', N'5550001122', N'123456', NULL, NULL, N'Ankara', N'Cankaya')
GO
INSERT [dbo].[ODEME] ([OdemeID], [OdemeTuru], [OdemeTarihi], [OdemeDurumu], [KartNo], [SiparisID]) VALUES (2, N'Kredi Kartı', CAST(N'2026-05-13T13:33:53.270' AS DateTime), N'Başarılı', N'************7777', 7)
INSERT [dbo].[ODEME] ([OdemeID], [OdemeTuru], [OdemeTarihi], [OdemeDurumu], [KartNo], [SiparisID]) VALUES (3, N'Kredi Kartı', CAST(N'2026-05-13T14:06:01.350' AS DateTime), N'Başarılı', N'************4444', 8)
GO
INSERT [dbo].[SATICI] ([SaticiID], [MagazaAdi], [Email], [Telefon], [VergiNo]) VALUES (1, N'Teknoloji Mağazası', N'iletisim@magaza.com', N'02120001122', N'9876543210')
GO
INSERT [dbo].[SEPET] ([SepetID], [MusteriID], [UrunID], [Adet]) VALUES (999, NULL, NULL, NULL)
GO
INSERT [dbo].[SIPARIS] ([SiparisID], [SiparisTarihi], [TopTutar], [SepetID], [MusteriID], [SiparisDurumu], [KargoTakipKodu]) VALUES (1, CAST(N'2026-05-09T17:27:27.390' AS DateTime), CAST(16500.00 AS Decimal(10, 2)), NULL, 4, N'Hazırlanıyor', N'TR-610212')
INSERT [dbo].[SIPARIS] ([SiparisID], [SiparisTarihi], [TopTutar], [SepetID], [MusteriID], [SiparisDurumu], [KargoTakipKodu]) VALUES (2, CAST(N'2026-05-10T15:39:52.870' AS DateTime), CAST(6500.00 AS Decimal(10, 2)), NULL, 4, N'Hazırlanıyor', N'TR-750384')
INSERT [dbo].[SIPARIS] ([SiparisID], [SiparisTarihi], [TopTutar], [SepetID], [MusteriID], [SiparisDurumu], [KargoTakipKodu]) VALUES (3, CAST(N'2026-05-10T15:50:03.647' AS DateTime), CAST(8200.00 AS Decimal(10, 2)), NULL, 4, N'Hazırlanıyor', N'TR-982199')
GO
INSERT [dbo].[SIPARIS_DETAY] ([SiparisDetayID], [Adet], [BirimFiyat], [SiparisID], [UrunID], [KargoID]) VALUES (1, 1, CAST(16500.00 AS Decimal(10, 2)), 1, 14, NULL)
INSERT [dbo].[SIPARIS_DETAY] ([SiparisDetayID], [Adet], [BirimFiyat], [SiparisID], [UrunID], [KargoID]) VALUES (2, 1, CAST(6500.00 AS Decimal(10, 2)), 2, 16, NULL)
INSERT [dbo].[SIPARIS_DETAY] ([SiparisDetayID], [Adet], [BirimFiyat], [SiparisID], [UrunID], [KargoID]) VALUES (3, 1, CAST(8200.00 AS Decimal(10, 2)), 3, 15, NULL)
GO
INSERT [dbo].[URUN] ([UrunID], [UrunAdi], [Fiyat], [Stok], [SaticiID], [UrunFoto]) VALUES (1, N'ASUS ROG Strix GeForce RTX 4090 Ekran Kartı', CAST(999999.00 AS Decimal(10, 2)), 7, 1, N'images/ASUSROGEkranKarti.jpg')
INSERT [dbo].[URUN] ([UrunID], [UrunAdi], [Fiyat], [Stok], [SaticiID], [UrunFoto]) VALUES (5, N'AMD Ryzen 9 7950X3D İşlemci', CAST(22500.00 AS Decimal(10, 2)), 14, NULL, N'images/AMDRyzen9.jpg')
INSERT [dbo].[URUN] ([UrunID], [UrunAdi], [Fiyat], [Stok], [SaticiID], [UrunFoto]) VALUES (6, N'ASUS ROG Swift 360Hz Monitör', CAST(2.50 AS Decimal(10, 2)), 9, NULL, N'images/ASUSMonitor.jpg')
GO
INSERT [dbo].[URUN_SINIFLANDIRMA] ([KategoriID], [UrunID]) VALUES (1, 9)
INSERT [dbo].[URUN_SINIFLANDIRMA] ([KategoriID], [UrunID]) VALUES (1, 14)
INSERT [dbo].[URUN_SINIFLANDIRMA] ([KategoriID], [UrunID]) VALUES (2, 5)
GO
INSERT [dbo].[YORUM] ([YorumID], [Puan], [YorumMetni], [Tarih], [MusteriID], [SiparisDetayID], [UrunID]) VALUES (2, 3, N'Bir böbrek ve karaciğeri karşılamıyor. İsteyenlere iban atılır.', CAST(N'2026-05-09T20:09:01.063' AS DateTime), 4, NULL, 1)
INSERT [dbo].[YORUM] ([YorumID], [Puan], [YorumMetni], [Tarih], [MusteriID], [SiparisDetayID], [UrunID]) VALUES (4, 5, N'Hocam 100 verirsiniz demi? Ömrümüz çürüdü de :))', CAST(N'2026-05-09T20:12:12.493' AS DateTime), 5, NULL, 6)
INSERT [dbo].[YORUM] ([YorumID], [Puan], [YorumMetni], [Tarih], [MusteriID], [SiparisDetayID], [UrunID]) VALUES (5, 5, N'çok pahalı olduğu için sizi şikayet edeceğim berbat fiyat........', CAST(N'2026-05-09T20:10:09.173' AS DateTime), 4, NULL, 8)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KARGO__E611FD10856F85E6]    Script Date: 22.06.2026 19:55:04 ******/
ALTER TABLE [dbo].[KARGO] ADD UNIQUE NONCLUSTERED 
(
	[TakipKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MUSTERI__92EB416979027982]    Script Date: 22.06.2026 19:55:04 ******/
ALTER TABLE [dbo].[MUSTERI] ADD UNIQUE NONCLUSTERED 
(
	[Telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MUSTERI__A9D1053484DCD8EB]    Script Date: 22.06.2026 19:55:04 ******/
ALTER TABLE [dbo].[MUSTERI] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SATICI__3849AC294D27D4D6]    Script Date: 22.06.2026 19:55:04 ******/
ALTER TABLE [dbo].[SATICI] ADD UNIQUE NONCLUSTERED 
(
	[VergiNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SATICI__92EB41694C600283]    Script Date: 22.06.2026 19:55:04 ******/
ALTER TABLE [dbo].[SATICI] ADD UNIQUE NONCLUSTERED 
(
	[Telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SATICI__A9D10534CB9CF715]    Script Date: 22.06.2026 19:55:04 ******/
ALTER TABLE [dbo].[SATICI] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ODEME]  WITH CHECK ADD FOREIGN KEY([KartNo])
REFERENCES [dbo].[KART] ([KartNo])
GO
ALTER TABLE [dbo].[ODEME]  WITH CHECK ADD FOREIGN KEY([SiparisID])
REFERENCES [dbo].[SIPARIS] ([SiparisID])
GO
ALTER TABLE [dbo].[SATIN_ALMA]  WITH CHECK ADD FOREIGN KEY([MusteriID])
REFERENCES [dbo].[MUSTERI] ([MusteriID])
GO
ALTER TABLE [dbo].[SATIN_ALMA]  WITH CHECK ADD FOREIGN KEY([SepetID])
REFERENCES [dbo].[SEPET] ([SepetID])
GO
ALTER TABLE [dbo].[SATIN_ALMA]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[URUN] ([UrunID])
GO
ALTER TABLE [dbo].[SIPARIS]  WITH CHECK ADD FOREIGN KEY([SepetID])
REFERENCES [dbo].[SEPET] ([SepetID])
GO
ALTER TABLE [dbo].[SIPARIS_DETAY]  WITH CHECK ADD FOREIGN KEY([KargoID])
REFERENCES [dbo].[KARGO] ([KargoID])
GO
ALTER TABLE [dbo].[SIPARIS_DETAY]  WITH CHECK ADD FOREIGN KEY([SiparisID])
REFERENCES [dbo].[SIPARIS] ([SiparisID])
GO
ALTER TABLE [dbo].[SIPARIS_DETAY]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[URUN] ([UrunID])
GO
ALTER TABLE [dbo].[SIPARIS_KARGOSU]  WITH CHECK ADD FOREIGN KEY([KargoID])
REFERENCES [dbo].[KARGO] ([KargoID])
GO
ALTER TABLE [dbo].[SIPARIS_KARGOSU]  WITH CHECK ADD FOREIGN KEY([SiparisID])
REFERENCES [dbo].[SIPARIS] ([SiparisID])
GO
ALTER TABLE [dbo].[URUN]  WITH CHECK ADD FOREIGN KEY([SaticiID])
REFERENCES [dbo].[SATICI] ([SaticiID])
GO
ALTER TABLE [dbo].[URUN_SINIFLANDIRMA]  WITH CHECK ADD FOREIGN KEY([KategoriID])
REFERENCES [dbo].[KATEGORI] ([KategoriID])
GO
ALTER TABLE [dbo].[URUN_SINIFLANDIRMA]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[URUN] ([UrunID])
GO
ALTER TABLE [dbo].[YORUM]  WITH CHECK ADD FOREIGN KEY([MusteriID])
REFERENCES [dbo].[MUSTERI] ([MusteriID])
GO
ALTER TABLE [dbo].[YORUM]  WITH CHECK ADD FOREIGN KEY([SiparisDetayID])
REFERENCES [dbo].[SIPARIS_DETAY] ([SiparisDetayID])
GO
ALTER TABLE [dbo].[YORUM]  WITH CHECK ADD CHECK  (([Puan]>=(1) AND [Puan]<=(5)))
GO
/****** Object:  StoredProcedure [dbo].[sp_YeniKategoriEkle]    Script Date: 22.06.2026 19:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Önce prosedürü oluşturalım (Eğer daha önce oluşturmadıysan)
CREATE   PROCEDURE [dbo].[sp_YeniKategoriEkle]
    @p_KategoriID INT,
    @p_KategoriAdi VARCHAR(100)
AS
BEGIN
    INSERT INTO KATEGORI (KategoriID, KategoriAdi)
    VALUES (@p_KategoriID, @p_KategoriAdi);
    PRINT 'Yeni kategori başarıyla eklendi.';
END;
GO
USE [master]
GO
